# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
android/
ios/
# Expo
.expo/
.expo-shared/
web-build/
dist/

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json

# JetBrains
.idea/

# Logs
*.log

# Coverage
coverage/

# Temporary
*.tmp
